@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 400;
    font-display: optional;
	  src: local(''), url('/fonts/lato-400.woff2') format('woff2');
	}
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 900;
    font-display: optional;
	  src: local(''), url('/fonts/lato-900.woff2') format('woff2');
	}

	body {
		@apply text-gray-500;
	}
}